.site-header{
    background-color: #9c5d49;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body
{
    margin: 0;
}
.site-header-content
{
    margin: 10px;
}
.gitup-link
{
    color: #ecfdf9;
}
.profile-pic
{
    align-self: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: #3e1204 2px 5px 5px;
}
}